NET PinCCLR LOC=P33;

//NET PinSIN<0> LOC=P38;
//NET PinSIN<1> LOC=P18;
//NET PinSIN<2> LOC=P32;
//NET PinSIN<3> LOC=P29;
//NET PinSIN<4> LOC=P8;
//NET PinSIN<5> LOC=P23;
//NET PinSIN<6> LOC=P5;
//NET PinSIN<7> LOC=P20;
NET PinSIN LOC=P32;

NET PinA<0> LOC=P31;
NET PinA<1> LOC=P30;

NET PinCE LOC=P23;

NET PinA<2> LOC=P22;
NET PinA<3> LOC=P20;


NET PinA<4> LOC=P39;
NET PinA<5> LOC=P42;
NET PinA<6> LOC=P44;
NET PinA<7> LOC=P2;

NET PinCLK LOC=P43;

